

.Slogo {
    width: 35px;
    margin-right: 100px;
    padding-top: 10px;
  }
.margin-btn{
margin-top: 20px;
margin-bottom: 50px;
}



.bg{
  background-color: #0A1930;
}
.bg2{
  background-color: #61dafb;
}
.text-bg2{
 
  color: rgb(100, 255, 218);
  font-size: 16px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
  font-weight: normal;
  margin: 0px 0px 20px 3px;
}

.police{
  border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
.text-whit {
text-decoration: lawngreen;}
.apropos{
  background-color:#0A1930 ;
}
img{
  color: #000;
  border-radius: 50rem;
}
.bold{
  
  font-size: 80px;
    line-height: 1.1;
    margin: 0px;
    font-weight: 600;
    color: rgb(230, 241, 255);
}
.btn{

  border-radius: 0.3rem;
 background: aqua;
 height: 50px;
 font-weight: bolder;
 color: aqua;
 background-color: Transparent;
 border: solid;
 border-width: 0.050em;
    transition: .5s ease;
    top: 191px;
    left: 420px;
    right: -420px;
    bottom: -191px;
    flex:auto;
}
.btn:hover{
  background-color: #172A45;
  color: aqua;
}
.a2:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: relative;
  background: aqua;
  transition: width 0.1s ease 0s, left 0.1s ease 0s;
  width: 0;
}
.a2:hover:after { 
  width: 100%; 
  left: 0; 

}
.text-color{
  color: rgb(136, 146, 176);
text-align: left;
font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
font-size: 15px;
font-weight: 300px;
}
.white{
  color: aliceblue;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin: 0 0 25px 0;
  line-height: 1.1;
}
.card-color{
  padding-top: 0px;
  background-color: #172A45;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    font-weight: 700;
    align-items: center;
}
.ityped-cursor {
  font-size: 2.2rem;
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
  -moz-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  100% {
    opacity: 0;
  }
}

.apropos{
  text-align: left;
  font-size: 15px;
  font-weight: 400;
}
.photo{
  padding-top: 40px;
  padding-left: 0;
}
.text-align{
  text-align: center;
}
.demo{ background: #2c304a; }
.progress-title{
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}
.progress{
    height: 10px;
    background: #171b3c;
    border-radius: 20px;
    border: 1px solid #000;
    box-shadow: 0 2px 2px #4f4c4c;
    margin-bottom: 15px;
    overflow: visible;
    position: relative;
}
.progress .progress-bar{
    border-radius: 20px;
    border:  1px solid #000;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s;
}
.progress .progress-value{
    width: 65px;
    height: 25px;
    line-height: 25px;
    background: #171b3c;
    font-size: 12px;
    color: #fff;
    border-radius: 0 0 15px 15px;
    border: 1px solid #000;
    border-top: none;
    box-shadow: 0 2px 2px #4f4c4c;
    position: absolute;
    bottom: -25px;
    right: 60px;
}
@-webkit-keyframes animate-positive{
    0% { width: 0; }
}
@keyframes animate-positive{
    0% { width: 0; }
}