ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
    padding: 0;
}
ul.social-network li {
	display: inline;
    margin: 0 5px;
   
}


.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoYoutube:hover {
	background-color:#c53929;
}
.social-network a.icoGit:hover {
	background-color:#172A45;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoGit:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoYoutube:hover i,
.social-network a.icoYoutube:hover i, .social-network a.icoGit:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}


.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	background-color: #0A1930;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}


.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}